:root {
  --def-border-width: 5px;
}
li {
  padding: 2px;
}
button {
  font-size: 1.5em;
  margin: 5px;
}
.forward-button button {
  background-color: green;
  color: white;
}
.reverse-button button {
  background-color: red;
  color: white;
}
.phase-pns {
  color: rgb(200, 50, 50);
}
.ES600-pns {
  color: rgb(50, 50, 200);
}
#notes input{
  width: 60%;
}
#notes label{
  color: red;
}
.flex-panels {
  display: flex;
}
.panel {
  flex: 1;
  min-width: 450px;
  border: var(--def-border-width) solid rgb(0, 0, 0);
}
.weak-panel {
  flex: 0.7;
  border: var(--def-border-width) solid rgb(0, 0, 0);
}
.rework-form {
  padding: 1px;
}
.rework-form input[type='text']{
  width: 120px;
}
.rework-form input[type='number']{
  width: 40px;
}
.initials {
  margin-top: 10px;
}
.initials .rework-form input {
  width: 40px;
}
.button-container {
  border-style: solid;
  border-color: darkolivegreen;
  border-radius: 3px;
  border-width: var(--default-border-width);
  margin: 15px;
  padding: 10px;
  width: fit-content;
}
.generic-container {
  text-align: center;
  border-style: solid;
  border-color: brown;
  border-radius: 3px;
  border-width: var(--default-border-width);
  margin: 15px;
  padding: 10px;
  width: fit-content;
}
.specific-container {
  border-style: solid;
  border-color: cornflowerblue;
  border-radius: 3px;
  border-width: var(--default-border-width);
  margin: 15px;
  padding: 10px;
  width: fit-content;
}
.log-request-container {
  border-style: solid;
  border-color: darkorchid;
  border-radius: 3px;
  border-width: var(--default-border-width);
  margin: 15px;
  padding: 10px;
  width: fit-content;
}
.error-container {
  background-color: red;
  color: white;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.checkboxes {
  /*float: left;*/
  /*width: 150px;*/
  overflow: auto;
}
.li-div {
  float: left;
  margin-right: 10px;
}
#errorMsg {
  color: red;
  background-color: white;
}